@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    body {
        background-color: #eeffcc;
        font-family: 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    h1 {
        color: #1e3a29;
        font-weight: bolder;
    }

    h6 {
        font-weight: bolder;
        font-size: 20px;
        color: #305d42;
    }

    h7 {
        color: #4d8061;
    }

    .aboutText{
       
        position: absolute;
        width: 50%;
        left:0;
    }

    .aboutPic {
 
        position: absolute;
        width: 50%;
        right: 0;
    }

    .wrapper {
        position: relative;
    }

    #myface{
        border-radius: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 100px;
        border: 5px solid;
        border-color: #305d42;
        
    }

</style>
<body>
<div class="wrapper">
<div class="aboutText">
    
    <br />
    <h1>ABOUT ME</h1>
    <br /><br />
    <h3>Hello, I'm Richwin Kyle C. Reyes. I am under the Information Technology course, trying to become a programmer. Hope we meet again in the future!</h3>
    <br />
    <br />
    <h6>Email</h6>
    <h7>richwinkyle@yahoo.com</h7>
    <br /><br />
    <h6>Occupation</h6>
    <h7>Student at the University of Santo Tomas</h7>
    <br /><br />
    <h6>Phone</h6>
    <h7>09678239160</h7>


</div>

<div class="aboutPic">
            <img src="~/css/myface.jpg" alt="Richwin Kyle Reyes" id="myface" />
</div>
</div>
    
</body>